body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button.btn-close {
  display: block;
  margin-left: 20rem;
}

a.nav-link:hover {
  color: green;
}

a.nav-link.active {
  color: green !important;
}

div.container {
  /* height: 100vh; */
  display: grid;
  grid-template-areas:
    "aside main main"
    "aside main main"
    "aside main main";
  grid-template-columns: 3fr 4fr;
}

main,
aside {
  background-color: white;
  color: black;
  border: 1px solid white;
}

main {
  grid-area: main;
}
aside {
  grid-area: aside;
}

ul > li {
  list-style-type: none;
}
li > a {
  text-decoration: none;
  color: black;
}

p > a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

svg {
  margin-left: 15px;
}

.backgroundImageForHomePage {
  background-image: url(/public/images/laughing_girl.jpg);
  background-size: 100% 100%;
}
.backgroundTextForHomePage {
  display: block;
  margin-left: 15rem;
  margin-top: 8rem;
  color: white;
}

.backgroundImageForCoffeePage {
  background-image: url(/public/images/A_coffee_machine_pouring_coffee_into_cups.jfif);
  background-size: 100% 100%;
}

@media (max-width: 768px) {
  div.container {
    display: grid;
    grid-template-areas:
      "aside aside aside"
      "main main main"
      "main main main";
  }
}
figure.grid-layout {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 35px;
}

@media (max-width: 768px) {
  figure.grid-layout {
    display: flex;
    flex-direction: column;
  }
}
button.btn.btn-outline-success:hover {
  background-color: rgb(182, 201, 182);
}
